@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


@import "tailwindcss";
@plugin "daisyui";

nav a.active{
    font-weight: 600;
    color: #632EE3;
    }
    
.font-logo{
font-family: "DynaPuff", system-ui;}

*{
     font-family: "GFS Didot", serif;
}
.font-banner{
    font-family: "Berkshire Swash", serif;
 }


 